Input/old_versions/
DataModel/
Input/collab_info/
Input/old_versions
*.xlsx
Margarita/
NCBI_MetadatenFormat/
Output/
training/creation_tutorials/.Rproj.user/
training/creation_tutorials/.RData
training/creation_tutorials/.Rhistory
JSON_SCHEMA_help.txt
~$*
presentations/2023_01_27_BriefOverview.pptx
.Rproj.user
